
body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 20px 10px;
    }

    footer a {
      color: #ffcc00;
      text-decoration: none;
      margin: 0 10px;
    }

    footer a:hover {
      text-decoration: underline;
    }

.menu {
    display: flex;
    margin-top: 0;
    gap: 20px;
    background-color: lightblue;
    padding: 10px;
    justify-content: center;
    justify-content: space-evenly;
}

/* CSS produto Pedro
h1 {
            color: #333399; 
            text-align: center;
        }
        

        .produto {
            border: 1px solid #cccccc;
            padding: 15px;
            margin-bottom: 25px;
            background-color: white;
        }

        .produto h2 {
            color: #ff6600; 
        }

        .produto img {
            width: 90%; 
            max-width: 400px; 
            display: block; 
            margin: 10px auto; 
            border: 2px solid #333;
        }

        .avaliacao-form {
            margin-top: 15px;
            border-top: 1px dashed #999;
            padding-top: 10px;
        }


        .avaliacao-form label, 
        .avaliacao-form input,
        .avaliacao-form select,
        .avaliacao-form textarea,
        .avaliacao-form button {
            display: block; 
            margin-top: 5px;
            width: 100%; 
            padding: 5px;
            box-sizing: border-box; 
        }
        
        .avaliacao-form button {
            background-color: #333399;
            color: white;
            padding: 10px;
            margin-top: 15px;
            border: none;
            cursor: pointer;
        }
        */
